body {
  margin: 0;
  font-family: "NanumBarunGothic",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "NanumBarunGothic";
  font-weight: normal;
  src: url("./fonts/NanumBarunGothic.ttf");
}

@font-face {
  font-family: "NanumBarunGothicLight";
  font-weight: normal;
  src: url("./fonts/NanumBarunGothicLight.ttf");
}

@font-face {
  font-family: "NanumBarunGothicUltraLight";
  font-weight: normal;
  src: url("./fonts/NanumBarunGothicUltraLight.ttf");
}


@font-face {
  font-family: "NanumBarunGothicBold";
  font-weight: normal;
  src: url("./fonts/NanumBarunGothicBold.ttf");
}

